<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('修改考试对象')"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-pageruser-edit" th:object="${pagerUser}">
        <input name="id" th:field="*{id}" type="hidden">
        <div class="form-group">
            <label class="col-sm-3 control-label">考试对象：</label>
            <div class="col-sm-8">
                <input class="form-control" name="userId" th:field="*{userId}" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">试卷id：</label>
            <div class="col-sm-8">
                <input class="form-control" name="pagerId" th:field="*{pagerId}" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">得分：</label>
            <div class="col-sm-8">
                <input class="form-control" name="mark" th:field="*{mark}" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">状态：</label>
            <div class="col-sm-8">
                <div class="radio-box">
                    <input name="status" type="radio" value="">
                    <label th:for="status" th:text="未知"></label>
                </div>
                <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer"/>
<script type="text/javascript">
    var prefix = ctx + "module/pageruser";
    $("#form-pageruser-edit").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/edit", $('#form-pageruser-edit').serialize());
        }
    }
</script>
</body>
</html>