<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('资讯列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <label>标题：</label>
                            <input name="newTitle" type="text"/>
                        </li>
                        <li>
                            <label>审核状态：</label>
                            <select id="status" name="status">
                                <option value="">所有</option>
                                <option value="1">待审核</option>
                                <option value="2">审核通过</option>
                            </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('module:news:edit')}]];
    var removeFlag = [[${@permission.hasPermi('module:news:remove')}]];
    var datas = [[${@dict.getType('tb_news_status')}]];
    var prefix = ctx + "module/newsLearn";

    $(function () {
        var options = {
            url: prefix + "/approvalList",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "资讯",
            showColumns: false,
            showToggle: true,
            showExport: false,
            showSearch: true,
            showRefresh: true,
            sortName: "createTime",
            sortOrder: "desc",
            columns: [{
                checkbox: true
            },
                {
                    field: 'newId',
                    title: '主键id',
                    visible: false
                },
                {
                    field: 'newTitle',
                    title: '学习标题',
                    width: 700
                },
                {
                    field: 'typeName',
                    title: '学习分类'
                },
                {
                    field: 'deptName',
                    title: '所属部门'
                },
                {
                    field: 'newContent',
                    title: '学习内容',
                    visible: false
                },
                {
                    field: 'userName',
                    title: '审核人'
                },
                {
                    field: 'status',
                    title: '审核状态',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(datas, value);
                    }
                },
                {
                    field: 'createTime',
                    title: '创建时间',
                    sortable: true
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="shenPi(\'' + row.newId + '\')"><i class="fa fa-edit"></i>审批</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.newId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });

    function shenPi(id) {
        $.modal.confirm("确认要同意吗？", function () {
            var url = prefix + "/edit";
            var data = {
                "newId": id,
                "status": "2"
            };
            $.operate.submit(url, "post", "json", data);
        })
    }
</script>
</body>
</html>