<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.party.building.type.mapper.NewsTypeMapper">

    <resultMap type="NewsType" id="NewsTypeResult">
        <result property="typeId" column="type_id"/>
        <result property="typeName" column="type_name"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <result property="type" column="type"/>
    </resultMap>

    <sql id="selectNewsTypeVo">
        select type_id,
               type_name,
               create_by,
               create_time,
               update_by,
               update_time,
               remark,
               type
        from tb_news_type
    </sql>

    <select id="selectNewsTypeList" parameterType="NewsType" resultMap="NewsTypeResult">
        <include refid="selectNewsTypeVo"/>
        <where>
            <if test="typeName != null  and typeName != ''">and type_name like concat('%', #{typeName}, '%')</if>
            <if test="type != null  and type != ''">and type = #{type}</if>
        </where>
        order by create_time asc
    </select>

    <select id="selectNewsTypeById" parameterType="Long" resultMap="NewsTypeResult">
        <include refid="selectNewsTypeVo"/>
        where type_id = #{typeId}
    </select>

    <insert id="insertNewsType" parameterType="NewsType" useGeneratedKeys="true" keyProperty="typeId">
        insert into tb_news_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="typeName != null  and typeName != ''">type_name,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="type != null  and type != ''">type,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="typeName != null  and typeName != ''">#{typeName},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="type != null  and type != ''">#{type},</if>
        </trim>
    </insert>

    <update id="updateNewsType" parameterType="NewsType">
        update tb_news_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="typeName != null  and typeName != ''">type_name = #{typeName},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="type != null  and type != ''">type = #{type},</if>
        </trim>
        where type_id = #{typeId}
    </update>

    <delete id="deleteNewsTypeById" parameterType="Long">
        delete
        from tb_news_type
        where type_id = #{typeId}
    </delete>

    <delete id="deleteNewsTypeByIds" parameterType="String">
        delete from tb_news_type where type_id in
        <foreach item="typeId" collection="array" open="(" separator="," close=")">
            #{typeId}
        </foreach>
    </delete>

</mapper>