<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('新增选举人')"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-voteuser-add">
        <div class="form-group">
            <label class="col-sm-3 control-label">选举人id：</label>
            <div class="col-sm-8">
                <input class="form-control" name="userId" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">选举任务id：</label>
            <div class="col-sm-8">
                <input class="form-control" name="voteId" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">状态：</label>
            <div class="col-sm-8">
                <div class="radio-box">
                    <input name="status" type="radio" value="">
                    <label th:for="status" th:text="未知"></label>
                </div>
                <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer"/>
<script type="text/javascript">
    var prefix = ctx + "vote/voteuser"
    $("#form-voteuser-add").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/add", $('#form-voteuser-add').serialize());
        }
    }
</script>
</body>
</html>