<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('修改题目试卷关联')"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-questionpager-edit" th:object="${questionPager}">
        <input name="id" th:field="*{id}" type="hidden">
        <div class="form-group">
            <label class="col-sm-3 control-label">题目id：</label>
            <div class="col-sm-8">
                <input class="form-control" name="questionId" th:field="*{questionId}" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">试卷id：</label>
            <div class="col-sm-8">
                <input class="form-control" name="pagerId" th:field="*{pagerId}" type="text">
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer"/>
<script type="text/javascript">
    var prefix = ctx + "module/questionpager";
    $("#form-questionpager-edit").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/edit", $('#form-questionpager-edit').serialize());
        }
    }
</script>
</body>
</html>