<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.web.controller.module.collect.mapper.CollectMapper">

    <resultMap type="Collect" id="CollectResult">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="newId" column="new_id"/>
        <result property="newTitle" column="new_title"/>
        <result property="status" column="status"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectCollectVo">
        select c.id,
               c.user_id,
               u.user_name,
               c.new_id,
               n.new_title,
               c.status,
               c.create_by,
               c.create_time,
               c.update_by,
               c.update_time,
               c.remark
        from tb_collect c
                 left join sys_user u on u.user_id = c.user_id
                 left join tb_news n on n.new_id = c.new_id
    </sql>

    <select id="selectCollectList" parameterType="Collect" resultMap="CollectResult">
        <include refid="selectCollectVo"/>
        <where>
            <if test="userId != null ">and c.user_id = #{userId}</if>
            <if test="userName != null  and userName != ''">and u.user_name like concat('%', #{userName}, '%')</if>
            <if test="newId != null ">and c.new_id = #{newId}</if>
            <if test="status != null  and status != ''">and c.status = #{status}</if>
        </where>
    </select>

    <select id="selectCollectById" parameterType="Long" resultMap="CollectResult">
        <include refid="selectCollectVo"/>
        where id = #{id}
    </select>

    <insert id="insertCollect" parameterType="Collect" useGeneratedKeys="true" keyProperty="id">
        insert into tb_collect
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null ">user_id,</if>
            <if test="newId != null ">new_id,</if>
            <if test="status != null  and status != ''">status,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="remark != null  and remark != ''">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null ">#{userId},</if>
            <if test="newId != null ">#{newId},</if>
            <if test="status != null  and status != ''">#{status},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
        </trim>
    </insert>

    <update id="updateCollect" parameterType="Collect">
        update tb_collect
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null ">user_id = #{userId},</if>
            <if test="newId != null ">new_id = #{newId},</if>
            <if test="status != null  and status != ''">status = #{status},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCollectById" parameterType="Long">
        delete
        from tb_collect
        where id = #{id}
    </delete>

    <delete id="deleteCollectByIds" parameterType="String">
        delete from tb_collect where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>