<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.web.controller.module.news.mapper.NewsMapper">

    <resultMap type="News" id="NewsResult">
        <result property="newId" column="new_id"/>
        <result property="newTitle" column="new_title"/>
        <result property="newPic" column="new_pic"/>
        <result property="newTypeId" column="new_type_id"/>
        <result property="typeName" column="type_name"/>
        <result property="deptId" column="dept_id"/>
        <result property="deptName" column="dept_name"/>
        <result property="newContent" column="new_content"/>
        <result property="newFile" column="new_file"/>
        <result property="newVideo" column="new_video"/>
        <result property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="status" column="status"/>
        <result property="learnStatus" column="learn_status"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <result property="type" column="type"/>
    </resultMap>

    <sql id="selectNewsVo">
        SELECT DISTINCT n.new_id,
                        n.new_title,
                        n.new_type_id,
                        n.new_pic,
                        (SELECT type_name FROM tb_news_type t WHERE t.type_id = n.new_type_id) AS type_name,
                        n.dept_id,
                        (SELECT dept_name FROM sys_dept d WHERE d.dept_id = n.dept_id)         AS dept_name,
                        n.new_content,
                        n.new_file,
                        n.new_video,
                        n.user_id,
                        (SELECT user_name FROM sys_user u WHERE u.user_id = n.user_id)         AS user_name,
                        n.status,
                        IFNULL(l.status, 1)                                                    AS learn_status,
                        n.create_by,
                        n.create_time,
                        n.update_by,
                        n.update_time,
                        n.remark,
                        n.type
        FROM tb_news n
                 LEFT JOIN tb_learn l on l.new_id = n.new_id
    </sql>

    <select id="selectNewsList" parameterType="News" resultMap="NewsResult">
        <include refid="selectNewsVo"/>
        <where>
            <if test="newTitle != null  and newTitle != ''">and n.new_title like concat('%', #{newTitle}, '%')</if>
            <if test="newPic != null  and newPic != ''">and n.new_pic = #{newPic}</if>
            <if test="newTypeId != null  and newTypeId != ''">and n.new_type_id = #{newTypeId}</if>
            <if test="deptId != null ">and n.dept_id = #{deptId}</if>
            <if test="newContent != null  and newContent != ''">and n.new_content = #{newContent}</if>
            <if test="newFile != null  and newFile != ''">and n.new_file = #{newFile}</if>
            <if test="newVideo != null  and newVideo != ''">and n.new_video = #{newVideo}</if>
            <if test="userId != null ">and n.user_id = #{userId}</if>
            <if test="userName != null  and userName != ''">and n.user_name like concat('%', #{userName}, '%')</if>
            <if test="status != null  and status != ''">and n.status = #{status}</if>
            <if test="type != null  and type != ''">and n.type = #{type}</if>
        </where>
        order by n.create_time desc
    </select>

    <select id="selectNewsListLimit" parameterType="News" resultMap="NewsResult">
        <include refid="selectNewsVo"/>
        <where>
            <if test="newTitle != null  and newTitle != ''">and n.new_title like concat('%', #{newTitle}, '%')</if>
            <if test="newPic != null  and newPic != ''">and n.new_pic = #{newPic}</if>
            <if test="newTypeId != null  and newTypeId != ''">and n.new_type_id = #{newTypeId}</if>
            <if test="deptId != null ">and n.dept_id = #{deptId}</if>
            <if test="newContent != null  and newContent != ''">and n.new_content = #{newContent}</if>
            <if test="newFile != null  and newFile != ''">and n.new_file = #{newFile}</if>
            <if test="newVideo != null  and newVideo != ''">and n.new_video = #{newVideo}</if>
            <if test="userId != null ">and n.user_id = #{userId}</if>
            <if test="userName != null  and userName != ''">and n.user_name like concat('%', #{userName}, '%')</if>
            <if test="status != null  and status != ''">and n.status = #{status}</if>
            <if test="type != null  and type != ''">and n.type = #{type}</if>
        </where>
        order by n.create_time desc LIMIT 15
    </select>


    <select id="selectNewsById" parameterType="Long" resultMap="NewsResult">
        <include refid="selectNewsVo"/>
        where n.new_id = #{newId}
    </select>

    <insert id="insertNews" parameterType="News" useGeneratedKeys="true" keyProperty="newId">
        insert into tb_news
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="newTitle != null  and newTitle != ''">new_title,</if>
            <if test="newPic != null  and newPic != ''">new_pic,</if>
            <if test="newTypeId != null  and newTypeId != ''">new_type_id,</if>
            <if test="deptId != null ">dept_id,</if>
            <if test="newContent != null  and newContent != ''">new_content,</if>
            <if test="newFile != null  and newFile != ''">new_file,</if>
            <if test="newVideo != null  and newVideo != ''">new_video,</if>
            <if test="userId != null ">user_id,</if>
            <if test="userName != null  and userName != ''">user_name,</if>
            <if test="status != null  and status != ''">status,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="type != null  and type != ''">type,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="newTitle != null  and newTitle != ''">#{newTitle},</if>
            <if test="newPic != null  and newPic != ''">#{newPic},</if>
            <if test="newTypeId != null  and newTypeId != ''">#{newTypeId},</if>
            <if test="deptId != null ">#{deptId},</if>
            <if test="newContent != null  and newContent != ''">#{newContent},</if>
            <if test="newFile != null  and newFile != ''">#{newFile},</if>
            <if test="newVideo != null  and newVideo != ''">#{newVideo},</if>
            <if test="userId != null ">#{userId},</if>
            <if test="userName != null  and userName != ''">#{userName},</if>
            <if test="status != null  and status != ''">#{status},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="type != null  and type != ''">#{type},</if>
        </trim>
    </insert>

    <update id="updateNews" parameterType="News">
        update tb_news
        <trim prefix="SET" suffixOverrides=",">
            <if test="newTitle != null  and newTitle != ''">new_title = #{newTitle},</if>
            <if test="newPic != null  and newPic != ''">new_pic = #{newPic},</if>
            <if test="newTypeId != null  and newTypeId != ''">new_type_id = #{newTypeId},</if>
            <if test="deptId != null ">dept_id = #{deptId},</if>
            <if test="newContent != null  and newContent != ''">new_content = #{newContent},</if>
            <if test="newFile != null  and newFile != ''">new_file = #{newFile},</if>
            <if test="newVideo != null">new_video = #{newVideo},</if>
            <if test="userId != null ">user_id = #{userId},</if>
            <if test="userName != null  and userName != ''">user_name = #{userName},</if>
            <if test="status != null  and status != ''">status = #{status},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="type != null  and type != ''">type = #{type},</if>
        </trim>
        where new_id = #{newId}
    </update>

    <delete id="deleteNewsById" parameterType="Long">
        delete
        from tb_news
        where new_id = #{newId}
    </delete>

    <delete id="deleteNewsByIds" parameterType="String">
        delete from tb_news where new_id in
        <foreach item="newId" collection="array" open="(" separator="," close=")">
            #{newId}
        </foreach>
    </delete>

</mapper>