<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.web.controller.module.question.mapper.QuestionMapper">

    <resultMap type="Question" id="QuestionResult">
        <result property="id" column="id"/>
        <result property="typeId" column="type_id"/>
        <result property="typeName" column="type_name"/>
        <result property="questionType" column="question_type"/>
        <result property="title" column="title"/>
        <result property="difficult" column="difficult"/>
        <result property="answerA" column="answer_a"/>
        <result property="answerB" column="answer_b"/>
        <result property="answerC" column="answer_c"/>
        <result property="answerD" column="answer_d"/>
        <result property="answerE" column="answer_e"/>
        <result property="answer" column="answer"/>
        <result property="content" column="content"/>
        <result property="introduce" column="introduce"/>
        <result property="score" column="score"/>
        <result property="status" column="status"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <result property="pagerName" column="pager_name"/>
        <result property="ksTime" column="ks_time"/>
    </resultMap>

    <sql id="selectQuestionVo">
        select id,
               type_id,
               (select name from tb_question_type t where t.id = q.type_id) as type_name,
               question_type,
               title,
               difficult,
               answer_a,
               answer_b,
               answer_c,
               answer_d,
               answer_e,
               answer,
               content,
               introduce,
               score,
               status,
               create_by,
               create_time,
               update_by,
               update_time,
               remark
        from tb_question q
    </sql>

    <select id="selectQuestionList" parameterType="Question" resultMap="QuestionResult">
        <include refid="selectQuestionVo"/>
        <where>
            <if test="typeId != null ">and type_id = #{typeId}</if>
            <if test="questionType != null ">and question_type = #{questionType}</if>
            <if test="title != null  and title != ''">and title = #{title}</if>
            <if test="difficult != null  and difficult != ''">and difficult = #{difficult}</if>
            <if test="answerA != null  and answerA != ''">and answer_a = #{answerA}</if>
            <if test="answerB != null  and answerB != ''">and answer_b = #{answerB}</if>
            <if test="answerC != null  and answerC != ''">and answer_c = #{answerC}</if>
            <if test="answerD != null  and answerD != ''">and answer_d = #{answerD}</if>
            <if test="answerE != null  and answerE != ''">and answer_e = #{answerE}</if>
            <if test="answer != null  and answer != ''">and answer = #{answer}</if>
            <if test="content != null  and content != ''">and content = #{content}</if>
            <if test="introduce != null  and introduce != ''">and introduce = #{introduce}</if>
            <if test="score != null ">and score = #{score}</if>
            <if test="status != null  and status != ''">and status = #{status}</if>
        </where>
        order by q.question_type asc,q.create_time desc
    </select>

    <select id="selectQuestionById" parameterType="Long" resultMap="QuestionResult">
        <include refid="selectQuestionVo"/>
        where id = #{id}
    </select>

    <insert id="insertQuestion" parameterType="Question" useGeneratedKeys="true" keyProperty="id">
        insert into tb_question
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="typeId != null ">type_id,</if>
            <if test="questionType != null ">question_type,</if>
            <if test="title != null  and title != ''">title,</if>
            <if test="difficult != null  and difficult != ''">difficult,</if>
            <if test="answerA != null  and answerA != ''">answer_a,</if>
            <if test="answerB != null  and answerB != ''">answer_b,</if>
            <if test="answerC != null  and answerC != ''">answer_c,</if>
            <if test="answerD != null  and answerD != ''">answer_d,</if>
            <if test="answerE != null  and answerE != ''">answer_e,</if>
            <if test="answer != null  and answer != ''">answer,</if>
            <if test="content != null  and content != ''">content,</if>
            <if test="introduce != null  and introduce != ''">introduce,</if>
            <if test="score != null ">score,</if>
            <if test="status != null  and status != ''">status,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="remark != null  and remark != ''">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="typeId != null ">#{typeId},</if>
            <if test="questionType != null ">#{questionType},</if>
            <if test="title != null  and title != ''">#{title},</if>
            <if test="difficult != null  and difficult != ''">#{difficult},</if>
            <if test="answerA != null  and answerA != ''">#{answerA},</if>
            <if test="answerB != null  and answerB != ''">#{answerB},</if>
            <if test="answerC != null  and answerC != ''">#{answerC},</if>
            <if test="answerD != null  and answerD != ''">#{answerD},</if>
            <if test="answerE != null  and answerE != ''">#{answerE},</if>
            <if test="answer != null  and answer != ''">#{answer},</if>
            <if test="content != null  and content != ''">#{content},</if>
            <if test="introduce != null  and introduce != ''">#{introduce},</if>
            <if test="score != null ">#{score},</if>
            <if test="status != null  and status != ''">#{status},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
        </trim>
    </insert>

    <update id="updateQuestion" parameterType="Question">
        update tb_question
        <trim prefix="SET" suffixOverrides=",">
            <if test="typeId != null ">type_id = #{typeId},</if>
            <if test="questionType != null ">question_type = #{questionType},</if>
            <if test="title != null  and title != ''">title = #{title},</if>
            <if test="difficult != null  and difficult != ''">difficult = #{difficult},</if>
            <if test="answerA != null  and answerA != ''">answer_a = #{answerA},</if>
            <if test="answerB != null  and answerB != ''">answer_b = #{answerB},</if>
            <if test="answerC != null  and answerC != ''">answer_c = #{answerC},</if>
            <if test="answerD != null  and answerD != ''">answer_d = #{answerD},</if>
            <if test="answerE != null  and answerE != ''">answer_e = #{answerE},</if>
            <if test="answer != null  and answer != ''">answer = #{answer},</if>
            <if test="content != null  and content != ''">content = #{content},</if>
            <if test="introduce != null  and introduce != ''">introduce = #{introduce},</if>
            <if test="score != null ">score = #{score},</if>
            <if test="status != null  and status != ''">status = #{status},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteQuestionById" parameterType="Long">
        delete
        from tb_question
        where id = #{id}
    </delete>

    <delete id="deleteQuestionByIds" parameterType="String">
        delete from tb_question where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!-- 通过试卷id获取题目-->
    <select id="selectQuetionByPagerId" parameterType="Long" resultMap="QuestionResult">
        SELECT p.name    AS pager_name,
               p.ks_time AS ks_time,
               q.id,
               q.question_type,
               q.title,
               q.answer_a,
               q.answer_b,
               q.answer_c,
               q.answer_d,
               q.answer,
               q.introduce,
               q.score,
               qp.id     AS qpId,
               qp.rank
        FROM tb_pager p
                 LEFT JOIN tb_question_pager qp ON p.id = qp.pager_id
                 LEFT JOIN tb_question q ON q.id = qp.question_id
        where qp.pager_id = #{id}
        order by q.question_type asc, qp.rank asc
    </select>

</mapper>